[Unit]
Description=naiveproxy
Requires=podman.service
After=podman.service

[Service]
Restart=always
ExecStart=bash -c "/etc/naiveproxy/start.sh"
ExecStop=bash -c "/etc/naiveproxy/stop.sh"

[Install]
WantedBy=multi-user.target
